body {
    background-color: #fff6d3 ;
}

h1, .library-table, .book-entry, button {
    color: #7c3f58;
}

.library-table {
    background-color: #eb6b6f;
}

button {
    background-color: #f9a875;
    border-radius: 8px;
    border: 2px solid #7c3f58;
}

.new-book {
    margin: 8px 0;
    padding: 8px 16px;
}


