body {
    background-color: #EEE;
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar-img {
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100% 100vh;
    display: flex;
    width: 66vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

figcaption, figcaption a {
    font-size:x-small;
    color: #FFF;
}s

.signup-text, .submit-btn, .login-text {
    margin-left: 32px;
}

.signup-text {
    margin-bottom: 48px;
}

.signup-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-area {
    background-color: #FFF;
    height: 240px;
    box-shadow: 0 8px 8px #CCC;
    padding: 16px 32px;
}

.submit-btn {
    background-color: #596D48;
    border-style: none;
    border-radius: 8px;
    color: #FFF;
    width: 180px;
    margin-top: 24px;
    padding: 8px 16px;
}

.login-text {
    margin-top: 28px;
}