body {
    background-color: #EEE;
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar-img {
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 100% 100vh;
    display: flex;
    width: 66vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.signup-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-area {
    background-color: #FFF;
    height: 240px;
    box-shadow: 0 8px 8px #CCC;
}