@font-face {
    font-family: norse-bold;
    src: url("./Norse-Bold.otf");
}

body {
    background-color: #FAFAFA;
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar-img {
    background: no-repeat center/100% url("./halie-west-25xggax4bSA-unsplash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 128px;
    margin-top: 160px;
}

.logo-img {
    height: 80%;
    width: auto;
}

.logo-text {
    color: #FFF;
    font-size: 72px;
    font-family: norse-bold, sans-serif;
}

figcaption, figcaption a {
    font-size:x-small;
    color: #FFF;
}

figcaption {
    margin-bottom: 16px;
}

.signup-text, .submit-btn, .login-text {
    margin-left: 32px;
}

.signup-text {
    margin-bottom: 48px;
}

.emphasis-signup-text {
    display: block;
    margin-top: 16px;
}

.signup-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-area {
    background-color: #FFF;
    height: 240px;
    box-shadow: 0 8px 8px #CCC;
    padding: 16px 32px;
}

.submit-btn {
    background-color: #596D48;
    border-style: none;
    border-radius: 8px;
    color: #FFF;
    width: 180px;
    margin-top: 24px;
    padding: 8px 16px;
}

.login-text {
    margin-top: 28px;
}