* {
    margin: 0;
    padding: 0;

    --border-size: 4px solid;
}

.title {
    text-align: center;
    margin: 32px;
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-r-b {
    border-right: var(--border-size);
    border-bottom: var(--border-size);
}

.bd-r {
    border-right: var(--border-size);
}

.bd-b {
    border-bottom: var(--border-size);
}