@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto.ttf");
}

body {
    margin: 0;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 64px);
    margin: 0;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: royalblue;
    font-weight: 600;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px repeat(11, 32px);
}

.sidebar-title {
    font-size: 24px;
}

.sidebar-title, .sidebar-item {
    padding-left: 16px;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 128px;
}

.navbar {
    display: grid;
    grid-template-columns: 75% 32px 32px 1fr;
    grid-template-rows: 1fr;
}

.controlsbar {
    display: grid;
    grid-template-columns: 64px 75% 64px 64px 64px;
    grid-template-rows: 1fr;
}

.controlsbar > button {
    background-color: royalblue;
    color: white;
    border-radius: 8px;
    border-style: none;
    width: 64px;
    height: 32px;
}

.account-area {
    background-color: lightgrey;
    grid-column: 2 / -1;
    grid-row: 3 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(8, 64px);
}

.projects-container {
    grid-column: 1 / -2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(3, 1fr);
    gap: 16px;
}

.projects-label {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.project-card-container, 
.announcements-card-container,
.trending-card-container {
    background-color: white;
    border-radius: 8px;
}

.project-card-container {
    border-left: 8px solid orange;
    padding: 16px;
}

.project-card-description {
    font-size: 13px;
}

.announcements-container {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

.announcements-label {
    grid-row: 1 / 2;
}

.announcements-card-container,
.trending-card-container {
    padding: 32px;
}

.announcement-title,
.trending-account-name {
    font-size: 14px;
}

.announcement-body,
.trending-account-popular-repo {
    font-size: 12px;
}

.project-card-description,
.announcement-body,
.trending-account-popular-repo {
    color: grey;
}

.sidebar,
.header,
.header button,
.projects-label,
.announcements-label,
.trending-label,
.project-card-title,
.announcement-title {
    font-weight: 700;
}